#main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
figure{
    background-color: #fff;
}
#img{
    max-width: 75%;
    height: auto;
}
#tribute-info{
    padding: 5%;
} 
body{
    text-align: center;
}
ul{
    text-align: left;
}